.input {
  width: 100%;
  min-width: 0px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  background: var(--chakra-colors-bw-50);
  font-size: var(--chakra-fontSizes-lg);
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  height: var(--chakra-sizes-12);
  border-radius: var(--chakra-radii-md);
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: var(--chakra-colors-transparent);
  padding: var(--chakra-space-2);
}